#footer-index{
  background-color: red;
  background: url('../img/lamp.jpg') no-repeat center fixed;
  background-size: cover;
  text-align: center;
  height: 300px;

  div{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100%;
  }

  p{
    align-self: flex-end;
    padding: 15px;
  }

  a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.5s;

    &:hover{
      color: $vertClair;
    }
  }
}

#footer-commun{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto; //sticky footer
    background-color: $gris;
    height: 18px;
    font-size: 14px;
}
