#footer-index{
  background-color: red;
  text-align: center;
  height: 300px;

  div{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100%;
  }

  p{
    align-self: flex-end;
  }
}

#footer-commun{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto; //sticky footer
    background-color: $gris;
    height: 18px;
    font-size: 14px;
}