#header{
	background: url('../img/header.jpg') no-repeat center;
	background-size: cover;
	height: 640px;
		article{
		display: flex;
		flex-direction: column;
		justify-content: space-between; /* align horizontal */
		align-items: center; /* align vertical */
		width: 100%;
		height: 100%;
		.LogoMMI{
			position: relative;
			z-index: 1;
			width: 360px;
			padding-top: 180px;
		}
		.ScrollDown{
			width: 60px;
			padding-bottom: 10px;
		}
	}

	.triangle{
		position: absolute;
		top: 0;
		right: 0;
		border-bottom: 640px solid #367269;
		border-left: 470px solid transparent;
		border-right: 0px solid transparent;
		height: 0;
		width: 352px;
		opacity: 0.5;
	}
}
