#header{
	background-color: cyan;
	height: 640px;
		article{
		display: flex;
		flex-direction: column;
		justify-content: space-between; /* align horizontal */
		align-items: center; /* align vertical */
		width: 100%;
		height: 100%;
		.LogoMMI{
			width: 360px;
			padding-top: 180px;
		}
		.ScrollDown{
			width: 60px;
			padding-bottom: 10px;
		}
	}
}