#liste-materiel{
    background-color: #ffffff;
    text-align: center;
    color: $typo;
    width: 300px;
    margin: 0 auto;
    h2{
        font-size: 18px;
        text-transform: uppercase;
        padding: 20px 0;
    }
    h4{
       font-style: italic;
        padding: 20px 0;
    }
}