#materiel{
  background-color: white;
  height: 300px;
  display: flex;
  text-align: center;
  border-top: 6px solid $vertClair;

  p{
    display: flex;
    justify-content: space-around;
  }

  h2{
    text-transform: uppercase;
    color: $vertClair;
  }
}
