#materiel{
  height: 565px;
  background: url('../img/materielBackground.jpg');
  background-size: cover;
  box-sizing: border-box;
  border-top: 6px solid $vertClair;
  border-bottom: 6px solid $vertClair;


  article{
    height: 100%;

    .containerAppercuMateriel{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0.8;

      .appercuMateriel{
        width: 200px;
        background-color: #367269;

        .image{
          width: 100px;
          height: 100px;
          background-color:#367269;
          transform: rotate(45deg);
          margin-left: 50px;
          margin-top: -50px;
          border: 1px solid white;

          img{
            transform: rotate(-45deg);
            position: relative;

          }

          #mat1{
            margin-left: 18px;
            margin-top: 26px;
          }

          #mat2{
            margin-left: 18px;
            margin-top: 24px;
          }

          #mat3{
            margin-left: 25px;
            margin-top: 12px;
          }
        }

        p{
          padding: 10px;
          margin-top: 20px;
          color: white;
          text-align: justify;
        }
      }
    }

    .btn{
      text-transform: uppercase;
      position: relative;
      top:-110px;
      width: 100%;
      text-align: center;
      flex: none;

      button{
        padding: 10px;
        cursor: pointer;
        font-family: 'BebasNeue';
        text-transform: uppercase;
        font-size: 30px;
      }

      a{
        color: $vert;
        text-decoration: none;
      }
    }
  }

}
