.menu{
	height: 100px;
	background-color: $gris;
	text-transform: uppercase;
	color: $typo;
	display: flex;
	align-items: center;
	font-family:'BebasNeue', Arial;
	a{
		text-decoration: none;
	}
	.picto{
		img{
			max-height: 12px;
			padding-right: 10px;
		}
	}
	.img{
		display: flex;
		margin-left: 60px;
		width: 600px;
	}
	.menu{
		.nav.computer{
			width: 550px;
			@media screen and (max-width: 815px) {
        width: 400px;
      }

			@media screen and (max-width: 660px) {
        display: none;
      }
			ul{
				margin-right: 60px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				a{
					color: $typo;
					font-size: 22px;
					transition: color 0.5s;

					&:hover{
						color: $vertClair;
					}
				}
			}
		}

		#hamburger{
			display: none;
			cursor: pointer;
			margin-right: 40px;

			img{
				width: 30px;
			}

			@media screen and (max-width: 660px) {
				display: block;
			}
		}
	}
}

.phoneMenu{
	display: none;
	li{
		text-align: center;
		background: $grisFonce;
		transition: background 0.5s;
		font-size: 16px;
		color: white;
		border-bottom: 1px solid $gris;
		width: 100%;
		box-sizing: border-box;

		a{
			text-decoration: none;
			padding: 20px 0;
			width: 100%;
			height: 100%;
			color: white;
			display: inline-block;
		}

		&:hover{
			background-color: $vertClair;
			cursor: pointer;
		}
	}
}
