#menu{
	height: 100px;
	background-color: $gris;
	text-transform: uppercase;
	color: $typo;
	display: flex;
	align-items: center;
	font-family:'BebasNeue', Arial;
	a{
		text-decoration: none;
	}
	.picto{
		img{
			max-height: 12px;
			padding-right: 10px;
		}
	}
	.img{
		display: flex;
		margin-left: 60px;
		width: 600px;
	}
	.menu{
		nav{
			ul{
				margin-right: 60px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				a{
					color: $typo;
					font-size: 22px;
					transition: color 0.5s;

					&:hover{
						color: $vertClair;
					}
				}
			}
		}
	}
}
