#presentation{
  height: 470px;
  background-color: white;
  display: flex;
  h2{
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 70px;
    font-size: 34px;
  }

  p{
    line-height: 25px;
    text-align: justify;
  }
}
