@import "compass/css3";
@import "compass/reset";



// VARIABLES
$vert : #2c9686;

// Feuilles externes
@import "presentation";
@import "contact";
@import "footer";


body{
  color:blue;
}

article{
  width: 960px;
  margin: auto;
}
