@import "compass/css3";
@import "compass/reset";



// VARIABLES
$vert : #2c9686;

// Feuilles externes
@import "header";
@import "footer";
@import "contact";

body{
  color:blue;
}

article{
  width: 960px;
  margin: auto;
}
