@import "compass/css3";
@import "compass/reset";



// VARIABLES
$vert : #2c9686;
$vertClair : #5be62f;
$gris : #cccccc;
$typo : #272b29;

// Feuilles externes

@import "header";
@import "menu";
@import "presentation";
@import "materiel";
@import "contact";
@import "footer";
@import "liste-materiel";


body{
  color:blue;
  display: flex;
  flex-direction: column; //Sticky footer
  min-height: 100vh;      //Sticky footer
}

article{
  width: 960px;
  margin: auto;
}
